body{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 20px 40px;
    /* width: 80px; */
}
.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 150px;
    border: 2px solid red;
}
.screen{
    text-align: right;
    margin-right: 20px;
    font-size: 24px;
    font-family: orbitron;
    height: 80px;
}
.keys{
    display: flex;
}
.numbers{
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
}
.zero, .ac{
    min-width: 183px;
}
.dot, .del{
    width: 91px;
}
.operator-buttons{
    width: 100px;
}